#header{
    display: flex;
    justify-content: space-between;
}
    
    
#footer{
    display: flex;
    justify-content: space-between;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

